{% extends 'base.html.twig' %}

{% block body %}

	<div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% endif %}
    </div>

	{% if is_granted('ROLE_USER') == true %}
		<ul class="menu cf">
			<li><a href="profile">Perfil</a></li>
			<li><a href="group/list">Grupos</a></li>
		</ul>
	    {% if is_granted('ROLE_ADMIN') == false %}
		    <div id="middle">
		    	<b>Informació:</b>
		    	<span>Nom: </span>{{ app.user.username }}<br>
		    	<span>Email: </span>{{ app.user.email }}<br>
		    	<span>Rol: </span>
		    		{% for role in app.user.roles %}
						{{role}}
					{% endfor %}<br>
		    </div>
		{% else %}
		    <div id="middle">
				<b>Llista de usuaris:</b>
				{% for user in users %}
					{% for role in user.roles %}
						<li>
							{% if role=="ROLE_USER" %}
							{{ user }}
							{% endif %}
						</li>
					{% endfor %}
			    {% endfor %}
			</div>
		{% endif %}

		{% else %}
	    <ul class="menu cf">
		  <li><a href="register">Registro</a></li>
		  <li><a href="login">Login</a></li>
		  <li><a href="group/list">Grupos</a></li>
		</ul>

		<div id="middle">
			<b>Llista de usuaris amb rol usuari normal:</b>
			{% for user in users %}
				{% if user.roles|length==1 %}
					{% for role in user.roles %}
						{% if role=="ROLE_USER" %}
							<li>{{ user }}</li>
						{% endif %}
					{% endfor %}
				{% endif %}
		    {% endfor %}
		</div>
	{% endif %}
    
{% endblock %}

{% block stylesheets %}
<style>
	
	html {
	  height: 100%;
	}

	li{
		list-style: none;
	}

	body {
		font-family: "Raleway", sans-serif;
	  background: 
	    -webkit-linear-gradient(rgba(5, 610, 255, 0.4), rgba(135, 60, 255, 0.0) 80%),
	    -webkit-linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 25%, rgba(255, 160, 65, 0.9) 76%);
	}
	.cf:before, .cf:after {
	  content:" ";
	  display: table;
	}
	.cf:after {
	  clear: both;
	}
	.cf {
	  *zoom: 1;
	}
	.menu {
	  list-style:none;
	  margin: 50px auto;
	  width: 800px;
	  width: -moz-fit-content;
	  width: -webkit-fit-content;
	  width: fit-content;
	}
	.menu > li {
	  background: #34495e;
	  float: left;
	  position: relative;
	  -webkit-transform: skewX(25deg);
	}
	.menu a {
	  display: block;
	  color: #fff;
	  text-transform: uppercase;
	  text-decoration: none;
	  font-family: Arial, Helvetica;
	  font-size: 14px;
	}
	.menu li:hover {
	  background: #e74c3c;
	}
	.menu > li > a {
	  -webkit-transform: skewX(-25deg);
	  padding: 1em 2em;
	}

	#middle{
		width: 40%;
		margin-left: 30%;
		border: 1px solid black;
		background-color: rgba(255,255,255,.3);
		padding: 2%;
	}

</style>
{% endblock %}
